extends layout

block content
  h1= title
  p Welcome to the #{title}

  ul
  each msg in messages
    li
      div
        p=msg.user
        p=msg.text         
        p=msg.added
        p ---------
  // form seems to load faster than anchor redirect
  form(role='form', action="/new", method='GET')     
    button(type='submit') new
  
  
